html, body {
	width: 99%;
	height: 99%;
}
#Title {
	font-size: 2em;
	text-align: center;
	height: 8%;
	line-height: 100%;
}
details, .Selector {
	padding-left: 1em;
}
.ListTitle {
	padding: 0em 1em 0em 1em;
}
summary:hover, .Selector:hover {
	background: #c0ffc0;
}
#Container {
	width: 100%;
	height: 90%;
}
#Container > div {
	float: left;
	border: 1px solid;
	overflow: auto;
}
#List {
	width: 25%;
	height: 100%;
}
#Data {
	position: relative;
	height: 100%;
	width: 73%;
}
#ViewFrame {
	padding: 1em 1em 1em 1em;
	position: absolute;
}
#PropsFrame {
	position: absolute;
    right: 2%;
    top: 2%;
}
